{% extends 'base.html' %}
{% block title %} contact {% endblock title %}

{% block body %}



<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1200x400/?phone" class="d-block w-100" alt="...">
</div>
<form method="Post" action="/contacts">
{% csrf_token %}
<div class="container my-4 ">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" name = 'email'>Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your messege.</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class= "btn btn-primary" type="submit">submit</button>
</form>
</div>
{% endblock body %}